* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  list-style: none;
  text-decoration: none;
}
.bodyIndex {
  background-color: #660000;
}


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #660000;
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px #610101;
}

h2 {
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  color: rgb(219, 217, 217);
}
div p {
  font-family: "Poppins", sans-serif;
  color: rgb(155, 155, 155);
}

.container img {
  padding-top: 4%;
}
.contentPerfil {
  padding-top: 7%;
}
.contentTProfessor {
  padding-top: 5%;
}
.contentLogin {
  padding-top: 5%;
}
.contentPass {
  padding-top: 6%;
}
.contentRecuperar {
  padding-top: 10%;
}
.contentMeusTreinos {
  padding-top: 6%;
}
.container .texto {
  padding-left: 10%;
}
.registo_form {
  padding-top: 8%;
}
body .treinos {
  width: 100%;
  height: 100%;
}
.logo img {
  width: 40%;
  height: 100%;
}
.ol {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
}
.ol div {
  text-align: center;
}

.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
}

.polaroid img {
  padding-top: 0;
}

.nada {
  background-color: white;
}
.con p {
  background-color: white;
  color: rgb(39, 39, 39);
  font-size: 1.2vw;
}
div.con {
  text-align: center;
  padding: 10px 20px;
  background-color: white;
}

.container img {
  width: 100%;
  height: 100%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links .login a {
  color: rgb(168, 168, 168);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 16px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}



@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
  body {
    overflow-x: hidden;
  }
  .polaroid img {
    padding-top: 0;
  }
}

@media screen and (max-width: 1400px) {
  .container img {
    padding-top: 8%;
  }
  .contentPerfil {
    padding-top: 10%;
  }
  .contentTProfessor{
    padding-top: 8%;
  }
  .polaroid img {
    padding-top: 0;
  }
  .contentLogin {
    padding-top: 8%;
  }
  .contentPass {
    padding-top: 8%;
  }
  .registo_form {
    padding-top: 11%;
  }
  .contentRecuperar {
    padding-top: 16%;
  }
  
}

html,
body {
  overflow-x: hidden;
}
@media screen and (max-width: 768px) {
  .container img {
    padding-top: 12%;
  }
  .contentPerfil {
    padding-top: 12%;
  }
  .contentTProfessor{
    padding-top: 12%;
  }
  .contentLogin {
    padding-top: 12%;
  }
  .contentPass {
    padding-top: 12%;
  }
  .contentRecuperar {
    padding-top: 12%;
  }
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #660000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .polaroid img {
    padding-top: 0;
  }
}

.nav-active {
  transform: translate(0%);
}

@media screen and (max-width: 550px) {
  .container img {
    padding-top: 20%;
  }
  .contentPerfil {
    padding-top: 20%;
  }
  .contentTProfessor{
    padding-top: 20%;
  }
  .contentLogin {
    padding-top: 20%;
  }
  .contentPass {
    padding-top: 20%;
  }
  .contentRecuperar {
    padding-top: 10%;
  }
  .polaroid img {
    padding-top: 0;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.contai {
  position: relative;
  width: 50%;
  margin: auto;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.contai:hover .image {
  opacity: 0.3;
}
.middle a {
  text-decoration: none;
}
.contai:hover .middle {
  opacity: 1;
}

/*PA METER TEXTO NAS IMAGENS*/
.text {
  background-color: rgb(219, 217, 217);
  color: #660000;
  font-size: 1.2vw;
  font-style: "Poppins";
  padding: 1.5vw 1.5vw;
  width: 100%;
}

.texto_exe {
  margin: auto;
  padding-right: 10%;
  font-size: 1.9vw;
  text-align: left;
}
.texto_exe p {
  text-align: left;
  color: rgb(219, 217, 217);
  text-align: justify; /*"Para alinha texto, para n parecer que foi comido por ratos" - Bruno 2020*/
}

.footer {
  width: 100vw;
  background-color: rgb(39, 39, 39);
  display: block;
  overflow: hidden;
  padding: 70px 50px 30px 50px;
  box-sizing: border-box;
}
.logo_container {
  background-color: rgb(39, 39, 39);
  text-align: center;
}
.outro {
  text-align: center;
  background-color: rgb(39, 39, 39);
}
.logo_container img {
  height: auto;
  width: 13%;
  float: left;
  background-color: rgb(39, 39, 39);
}

.myButton {
  background-color: #ffffff;
  border-radius: 28px;
  border: 1px solid #fafafa;
  display: inline-block;
  cursor: pointer;
  color: #242324;
  font-family: "poppins";
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.myButton:hover {
  background-color: #b8b8b8;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.outro h1 {
  font-size: 1.7vw;
  font-family: "poppins";
  color: rgb(219, 217, 217);
  letter-spacing: 3px;
  display: inline;
  background-color: rgb(39, 39, 39);
  padding-right: 20px;
}

.copy {
  bottom: 0px;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: rgb(35, 35, 35);
}

.copy p {
  color: white;
  background-color: rgb(35, 35, 35);
  font-size: 1.2vw;
  margin-left: 5em;
}


/* PAGINA REGISTO */
.registo_form {
  background-color: white;
  font-family: "poppins";
  text-align: center;
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
}

.registo_form * {
  background-color: white;
  text-align: center;
}
.registo_form .input2:focus {
  border: 3px solid #555;
}
.registo_form .input2 {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  width: 25vw;
  border-radius: 4px;
}
.input3 {
  border-radius:4px;
}

.registo_form h2 {
  color: rgb(35, 35, 35);
  font-weight: bold;

  margin: auto;
  font-size: 30px;
  font-family: "poppins";
}
.registo_form thead {
  height: auto;
}
.registo_form button {
  margin: auto;
}

.registo_form label {
  letter-spacing: 3px;
  font-size: 20px;
  font-family: "poppins";
  font-weight: bold;
}

.registo_form::placeholder {
  font-family: "poppins";
  letter-spacing: 3px;
  color: rgb(39, 39, 39);
}
.registo_form table{
  margin:auto;
}
/*INICIO BOTAO REGISTAR */
/**/
.registo_form table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding-top: 2%;
  width: 100%;
  table-layout: fixed;
}

.registo_form table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.registo_form table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

.registo_form table th,
.registo_form table td {
  padding: 0.625em;
  text-align: center;
}

.registo_form table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
/**/
.registar {
  background-color: #d7dae0;
  border-radius: 16px;
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: "poppins";
  font-size: 15px;
  font-weight: bold;
  padding: 9px 14px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #777d76;
  letter-spacing: 0.5px;
  width: 150px;
}
.registar:hover {
  background-color: #fafafa;
}
.registar:active {
  position: relative;
  top: 1px;
}

/* FIM BOTAO REGISTAR */

.validacaoPass table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding-top: 2%;
  width: 100%;
  table-layout: fixed;
}

.validacaoPass table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.validacaoPass table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

.validacaoPass table th,
.validacaoPass table td {
  padding: 0.625em;
  text-align: center;
}

.validacaoPass table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {

  .registo_form {
    padding-top: 22%;
  }
  
  .registo_form table {
    border: 0;
  }

  .validacaoPass table caption {
    font-size: 1.3em;
  }

  .validacaoPass table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .validacaoPass table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .validacaoPass table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
  }

  .validacaoPass table td::before {
    /* aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .validacaoPass table td:last-child {
    border-bottom: 0;
  }
}
.validacaoPass {
  background-color: white;
  font-family: "poppins";
  padding-top: 5%;
  text-align: center;
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
}

.validacaoPass * {
  background-color: white;
  text-align: center;
}
.validacaoPass .input2:focus {
  border: 3px solid #555;
}
.validacaoPass .input2 {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  width: 25vw;
  border-radius: 4px;
}


.validacaoPass h2 {
  color: rgb(35, 35, 35);
  font-weight: bold;

  margin: auto;
  font-size: 30px;
  font-family: "poppins";
}
.validacaoPass thead {
  height: auto;
}
.validacaoPass button {
  margin: auto;
}

.validacaoPass label {
  letter-spacing: 3px;
  font-size: 20px;
  font-family: "poppins";
  font-weight: bold;
}

.validacaoPass ::placeholder {
  font-family: "poppins";
  letter-spacing: 3px;
  color: rgb(39, 39, 39);
}
/* Dias */
.contentPerfil {
  background-color: white;
  font-family: "poppins";
  text-align: center;
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
}

.contentPerfil * {
  background-color: white;
  text-align: center;
}
.contentPerfil input:focus {
  border: 3px solid #555;
}

.contentPerfil input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.contentPerfil h2 {
  color: rgb(35, 35, 35);
  font-weight: bold;

  margin: auto;
  font-size: 30px;
  font-family: "poppins";
}

.contentPerfil table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

.contentPerfil table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.contentPerfil table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

.contentPerfil table th,
.contentPerfil table td {
  padding: 0.625em;
  text-align: center;
}

.contentPerfil table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.contentPerfil .enviar {
  background-color: #d7dae0;
  border-radius: 16px;
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: "poppins";
  font-size: 15px;
  font-weight: bold;
  padding: 9px 14px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #777d76;
  letter-spacing: 0.5px;
}
.contentPerfil .enviar:hover {
  background-color: #fafafa;
}
.contentPerfil .enviar:active {
  position: relative;
  top: 1px;
}

/*inicio validar*/
.validacaoPass .validar {
  background-color: #d7dae0;
  border-radius: 16px;
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: "poppins";
  font-size: 15px;
  font-weight: bold;
  padding: 9px 14px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #777d76;
  letter-spacing: 0.5px;
}
.validacaoPass .validar:hover {
  background-color: #fafafa;
}
.validacaoPass .validar:active {
  position: relative;
  top: 1px;
}
/*fim validar*/
@media screen and (max-width: 600px) {
  .contentPerfil table {
    border: 0;
    width: 100%;
  }

  .contentPerfil table caption {
    font-size: 1.3em;
  }

  .contentPerfil table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .contentPerfil table tr {
    display: block;
    margin-bottom: 0.625em;
  }

  .contentPerfil table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
  }

  .contentPerfil table td::before {
    /* aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .contentPerfil table td:last-child {
    border-bottom: 0;
  }
}

/* LOGIN CSS */

.contentLogin {
  background-color: white;
  font-family: "poppins";
  text-align: center;
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
}

.contentLogin * {
  background-color: white;
  text-align: center;
}
.contentLogin input:focus {
  border: 3px solid #555;
}

.contentLogin .input2 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 4px;
}

.contentLogin h2 {
  color: rgb(35, 35, 35);
  font-weight: bold;

  margin: auto;
  font-size: 30px;
  font-family: "poppins";
}

.contentLogin table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

.contentLogin table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.contentLogin table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

.contentLogin table th,
.contentLogin table td {
  padding: 0.625em;
  text-align: center;
}

.contentLogin table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.contentLogin .enviar {
  background-color: #d7dae0;
  border-radius: 16px;
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: "poppins";
  font-size: 15px;
  font-weight: bold;
  padding: 9px 14px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #777d76;
  letter-spacing: 0.5px;
}
.contentLogin .enviar:hover {
  background-color: #fafafa;
}
.contentLogin .enviar:active {
  position: relative;
  top: 1px;
}

@media screen and (max-width: 800px) {
  .contentRecuperar {
    padding-top: 40%;
  }
}

@media screen and (max-width: 600px) {
  .contentLogin table {
    border: 0;
    width: 100%;
  }

  .contentLogin table caption {
    font-size: 1.3em;
  }

  .contentLogin table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .contentLogin table tr {
    display: block;
    margin-bottom: 0.625em;
  }

  .contentLogin table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
  }

  .contentLogin table td::before {
    /* aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .contentLogin table td:last-child {
    border-bottom: 0;
  }
}
/* Recuperar Pass CSS */
.contentRecuperar {
  background-color: white;
  font-family: "poppins";
  text-align: center;
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
}

.contentRecuperar * {
  background-color: white;
  text-align: center;
}
.contentRecuperar input:focus {
  border: 3px solid #555;
}

.contentRecuperar input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.contentRecuperar h2 {
  color: rgb(35, 35, 35);
  font-weight: bold;

  margin: auto;
  font-size: 30px;
  font-family: "poppins";
}

.contentRecuperar table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

.contentRecuperar table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.contentRecuperar table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

.contentRecuperar table th,
.contentRecuperar table td {
  padding: 0.625em;
  text-align: center;
}

.contentRecuperar table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.contentRecuperar .enviar {
  background-color: #d7dae0;
  border-radius: 16px;
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: "poppins";
  font-size: 15px;
  font-weight: bold;
  padding: 9px 14px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #777d76;
  letter-spacing: 0.5px;
}
.contentRecuperar .enviar:hover {
  background-color: #fafafa;
}
.contentRecuperar .enviar:active {
  position: relative;
  top: 1px;
}

@media screen and (max-width: 600px) {
  .contentRecuperar table {
    border: 0;
    width: 100%;
  }

  .contentRecuperar table caption {
    font-size: 1.3em;
  }

  .contentRecuperar table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .contentRecuperar table tr {
    display: block;
    margin-bottom: 0.625em;
  }

  .contentRecuperar table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .contentRecuperar table td::before {
    /* aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .contentRecuperar table td:last-child {
    border-bottom: 0;
  }
}

/* MUDAR PASS CSS */

.contentPass {
  background-color: white;
  font-family: "poppins";
  text-align: center;
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
}

.contentPass * {
  background-color: white;
  text-align: center;
}
.contentPass input:focus {
  border: 3px solid #555;
}

.contentPass input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.contentPass h2 {
  color: rgb(35, 35, 35);
  font-weight: bold;

  margin: auto;
  font-size: 30px;
  font-family: "poppins";
}

.contentPass table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

.contentPass table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.contentPass table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

.contentPass table th,
.contentPass table td {
  padding: 0.625em;
  text-align: center;
}

.contentPass table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.contentPass .enviar {
  background-color: #d7dae0;
  border-radius: 16px;
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: "poppins";
  font-size: 15px;
  font-weight: bold;
  padding: 9px 14px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #777d76;
  letter-spacing: 0.5px;
}
.contentPass .enviar:hover {
  background-color: #fafafa;
}
.contentPass .enviar:active {
  position: relative;
  top: 1px;
}

@media screen and (max-width: 600px) {
  .contentPass table {
    border: 0;
    width: 100%;
  }

  .contentPass table caption {
    font-size: 1.3em;
  }

  .contentPass table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .contentPass table tr {
    display: block;
    margin-bottom: 0.625em;
  }

  .contentPass table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .contentPass table td::before {
    /* aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .contentPass table td:last-child {
    border-bottom: 0;
  }
}

/* TORNAR COLABORADOR CSS */

.contentTProfessor {
  background-color: white;
  font-family: "poppins";
  text-align: center;
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
}

.contentTProfessor * {
  background-color: white;
  text-align: center;
}
.contentTProfessor input:focus {
  border: 3px solid #555;
}

.contentTProfessor input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.contentTProfessor input[type="file"]{
  border: 0;
}

.contentTProfessor h2 {
  color: rgb(35, 35, 35);
  font-weight: bold;

  margin: auto;
  font-size: 30px;
  font-family: "poppins";
}

.contentTProfessor table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

.contentTProfessor table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.contentTProfessor table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

.contentTProfessor table th,
.contentTProfessor table td {
  padding: 0.625em;
  text-align: center;
}

.contentTProfessor table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.contentTProfessor .enviar {
  background-color: #d7dae0;
  border-radius: 16px;
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: "poppins";
  font-size: 15px;
  font-weight: bold;
  padding: 9px 14px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #777d76;
  letter-spacing: 0.5px;
}
.contentTProfessor .enviar:hover {
  background-color: #fafafa;
}
.contentTProfessor .enviar:active {
  position: relative;
  top: 1px;
}

@media screen and (max-width: 600px) {
  .contentTProfessor table {
    border: 0;
    width: 100%;
  }

  .contentTProfessor table caption {
    font-size: 1.3em;
  }

  .contentTProfessor table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .contentTProfessor table tr {
    display: block;
    margin-bottom: 0.625em;
  }

  .contentTProfessor table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .contentTProfessor table td::before {
    /* aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .contentTProfessor table td:last-child {
    border-bottom: 0;
  }
}

.image-upload > input {
  display: none;
}

.image-upload img {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.image-upload {
  width: 200px;
  height: 200px;
  margin: auto;
}

.image-upload:hover .futilizador {
  opacity: 0.3;
}

.image-upload .label {
  position: relative;
  top: -14%;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ff0000;

  opacity: 0;
}

.image-upload:hover .label {
  opacity: 1;
}


/* INICIO MEUS TREINOS */
.material-icons {
  width: 40px;
  height:40px;
  color:white;
  
}
.meusTreinosLeft a {
  font-size:1.5vw;
  text-decoration: none;
  font-family:'poppins';
  /* color:rgb(155, 155, 155); */
  color:white;
}
.contentMeusTreinos {
  width: 100%;
  display: table;
}
.meusTreinosLeft{
  border: 1px solid red;
}
.meusTreinosRight{
  border: 1px solid black;
}

.contentMeusTreinos .meusTreinosLeft {
  width: 40%;
  padding-left: 3%;
  float: left;
  background-color: black;
  display: table-cell;
}
.contentMeusTreinos .meusTreinosRight {
  width: 60%;
  padding-left: 3%;
  float: right;
  background-color: white;
  display: table-cell;
}
.contentMeusTreinos h2 {
  color: rgb(35, 35, 35);
  font-weight: bold;
  text-align: center;
  margin: auto;
  font-size: 30px;
  font-family: "poppins";
}

.contentMeusTreinos table {
  padding-top:2%;
  width:100%;
}
.contentMeusTreinos table td{
  height:auto;
}
/* FIM PAGINA MEUS TREINOS */







/* Bruno */

input [type="date"] {
  font-size: 20px;
  font-family: "poppins";

  appearance: none;
  -webkit-appearance: none;
  padding: 5px;
}
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 18px;
  border: 3px solid #ccc;

  padding: 5px;
  display: inline-block !important;
  visibility: visible !important;
}
.registo_form td p a {
  text-decoration: none;
  color: rgb(231, 2, 2);
  font-family: "poppins";
}
.registo_form td p a:hover {
  text-decoration: none;
  color: rgb(131, 1, 1);
  font-family: "poppins";
}

.login_text p a {
  text-decoration: none;
  color: rgb(231, 2, 2);
  font-family: "poppins";
}

.login_text p a:hover {
  text-decoration: none;
  color: rgb(131, 1, 1);
  font-family: "poppins";
}

